.nav {
  background-color: #ca2727; /* Add a background color if needed */
  padding: 20px; /* Add padding as needed */
  text-align: center;
}

.logo-link {
  text-decoration: none;
  display: inline-block;
}

.logo {
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold;
  color: rgb(7, 2, 7); /* Text color */
  background-color: red;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Adjust the border-radius for the desired shape */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
 
}